<html ng-app="app3">

<head>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
	<body ng-controller="mainCtrl">
		Name: <input ng-model="name.name" placeholder="type a name.."></input>
		<ul ng-repeat="some in something | filter:name">
			<li class="bold">{{ some.name }}</li>
			<li class="indent">Email: {{ some.email }}</li>
			<li class="indent">Date Employed: {{ some.dateEmployed }}</li>
			<li class="indent blue">{{ some.phone }}</li>
		</ul>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
		<script src="app.js"></script>
		<script src="controller.js"></script>
		<script src="service.js"></script>
	</body>
</html>